
html{
	min-height: 100%;
	position: relative;
}
body{
	width: 100%;
	margin: 0 0 100px; /* bottom = footer height */
	background-image: url("../images/ep_naturalwhite.png");
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
	color: #777;
}
header{
	width: 100%;
	height: 90px;
	background-color: #fff;	
	font-family: "Georgia", Times, Times New Roman, serif;
}
.head-container{
	width:960px;
	margin: 0 auto;
}
.logo{
	width: 250px;
	height: 60px;
	margin: 30px 0 0 0;
	background-color: #4aaaa5;
	float: left;
	text-align: center;
	display: table-cell;
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #fff;
}
h1{
	margin-top: 12px;
	display: block;
    font-size: 2em;
    font-weight: bold;	
}
.nav{
	margin: 31px 0 0 0;	
	float: right;
}
ul{
	padding: 0;
	margin: 20px 0;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
}
ul li a, ul li a:visited{
	text-decoration: none;
	color: #777;
}
ul li a:hover{
	text-decoration: underline;
}
li {
	display: inline-block;
}
li.side-nav, li.center-nav{
	padding: 0 10px;
}

.center-nav{
	border-left: #ccc solid 1px;
	border-right: #ccc solid 1px;
}
.entire-content-area {
	width: 100%;
}	
.main-content{
	width:960px;
	margin: 0 auto;
	min-height: 100%;
	overflow: auto;
}
h2{
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0;
}
hr{
	border: #ccc solid 1px;
	margin: 20px 0;

}
.main-section-content{
	width:650px;
	margin: 30px 8px 10px 0;
	background-color: #ffffff;
	border: #ddd solid 1px;
	float: left;
}
.main-section{
		padding: 30px;
	}
.main-image{
	width:200px;
	margin: 0 20px 0 0;
	float: left;
}
li .icon-image{
	width: 50px;
	padding-right: 15px;
	float:left;
}

.sidebar{
	width: 270px;
	margin: 30px 0 10px 28px;
	background-color: #ffffff;
	border: #ddd solid 1px;
	float: right;
}
.sidebar-section{
		padding: 20px;
		display: block;
	}
h3{
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #4aaaa5;
    font-size: 1.17em;
    font-weight: bold;
    margin: 20px 0;
}

footer{
	width: 100%;
	height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;		
	background-color: #666;
	border-top: #4aaaa5 solid 10px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
.section-footer{
	padding-top: 30px
}
p{
	line-height: 25px;
	margin: 20px 0;
	display: block;
}
input {
    width: 100%;
    height: 25px;
    margin: 12px 0;
}
label{
}
.form-labels{
	margin: 10px 0 0;
}
.message-box{
	margin-top: 12px;
}
.submit-btn{
	margin: 14px 0;
	background-color: #4aaaa5;
	width: 130px;
	height: 50px;
}
.submit-text {
	padding: 16px 0;
	text-align: center;
}
a.submit-text-link:link {
	color: #fff;
	text-decoration: none;
}
.port-rows{
	width:590px;
	margin-bottom: 30px;	
	overflow: auto;
}
.port-box-left{
	width:270px;
	position: relative;
	height: 205px;
	margin: 0 20px 0 0;
	float: left;
}
.port-box-right{
	width:270px;
	position: relative;
	height: 205px;
	margin: 0;
	float: left;
}
.port-box-label { 
  	position:absolute;
	font-family: "Georgia", Times, Times New Roman, serif;
  	bottom:0;
  	background-color:#4aaaa5;
  	width:100%;
  	text-align:center;
  	color: #fff;
  	height: 30px;
  	line-height: 30px;
}
p.port-box-label{
	margin-bottom: 6px;
}